{% extends 'shop/base.html' %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>The Plaza - eCommerce Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="The Plaza eCommerce Template">
	<meta name="keywords" content="plaza, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="http://localhost/external-css/img/favicon.ico" rel="shortcut icon"/>


</head>
<body>
	
	{% block content %}



	<!-- Hero section -->
	{% for product in products %}
	{% if product.header_image  %}
	<section class="hero-section set-bg" data-setbg="http://localhost/external-css/img/bg-2.jpg">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="hs-left"><img src="{{ product.image.url }} " alt=""></div>
				<div class="hs-right">
					<div class="hs-content">
						<div class="price">from ₦{{product.price}}</div>
						<h2><span>2020</span> <br>{{product.description }}</h2>
						<a href="{{product.get_absolute_url}}" class="btn btn-success btn-lg">SHOP NOW</a>
					</div>	
				</div>
			</div>
			<div class="hs-item">
				<div class="hs-left"><img src="{{ product.image.url }} " alt=""></div>
				<div class="hs-right">
					<div class="hs-content">
						<div class="price">from ₦{{product.price}}</div>
						<h2><span>2020</span> <br>{{product.description }}</h2>
						<a href="{{product.get_absolute_url}}" class="btn btn-warning btn-lg">SHOP NOW</a>
					</div>	
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	{% endfor %}
	<!-- Hero section end -->

	
	<!-- Intro section -->
	<section class="intro-section spad pb-0">
		<div class="section-title">
			<h2>premium products</h2>
			<p>We recommend</p>
		</div>
		<div class="intro-slider">
			<ul class="slidee">
				

				{% for product in products %}
				{% if product.Premium  %}
				<li>
					
					<div class="intro-item">
						<figure>
							
							<img src="{% if product.image %}{{ product.image.url }} {% else %}  http://localhost/external-css/img/no_image.png {% endif %}" alt="#">
							
						</figure>
						<div class="product-info">
							<a href="{{ product.get_absolute_url }} " >
							<h5>{{product.name}} </h5>
							</a>
							<p>₦{{product.price}}</p>
							<a href="{{product.get_absolute_url}}" class="site-btn btn-line">SHOP NOW</a>
							
							
						</div>
					</div>
				</li>
				
				
				{% endif %}
				{% endfor %}
				</ul>
				
		</div>
		<div class="container">
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->


	<!-- Featured section -->
	<div class="featured-section spad">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="featured-item">
						<img src="http://localhost/external-css/img/featured/featured-1.jpg" alt="">
						<a href="#" class="site-btn">see more</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="featured-item mb-0">
						<img src="http://localhost/external-css/img/featured/featured-2.jpg" alt="">
						<a href="#" class="site-btn">see more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Featured section end -->


	<!-- Product section -->
	<section class="product-section spad">
		<div class="container">
			<ul class="product-filter controls">
				<li class="control" data-filter=".new">New arrivals</li>
				<li class="control" data-filter="all">Recommended</li>
				<li class="control" data-filter=".best">Best sellers</li>
			</ul>
			<div class="row" id="product-filter">

				{% for product in products %}
				{% if product.best  %}
				<div class="mix col-lg-3 col-md-6 best">
					<div class="product-item">
						<figure>
							<img src="{% if product.image %}{{ product.image.url }} {% else %}  http://localhost/external-css/img/no_image.png {% endif %}" alt="">
							{% comment %} <div class="pi-meta">
								<div class="pi-m-left">
									<img src="http://localhost/external-css/img/icons/eye.png" alt="">
									<p>quick view</p>
								</div>
								<div class="pi-m-right">
									<img src="http://localhost/external-css/img/icons/heart.png" alt="">
									<p>save</p>
								</div>
							</div> {% endcomment %}
						</figure>
						<div class="product-info">
							<h6>{{product.name}}</h6>
							<p> ₦{{product.price}} </p>
							<a href="{{product.get_absolute_url}}" class="site-btn btn-line">SHOP NOW</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
				
				{% for product in products %}
				{% if product.New_arrivals  %}
				<div class="mix col-lg-3 col-md-6 new">
					<div class="product-item">
						<figure>
							<img src="{% if product.image %}{{ product.image.url }} {% else %}  http://localhost/external-css/img/no_image.png {% endif %}" alt="">
							<div class="bache">NEW</div>
							{% comment %} <div class="pi-meta">
								<div class="pi-m-left">
									<img src="http://localhost/external-css/img/icons/eye.png" alt="">
									<p>quick view</p>
								</div>
								<div class="pi-m-right">
									<img src="http://localhost/external-css/img/icons/heart.png" alt="">
									<p>save</p>
								</div>
							</div> {% endcomment %}
						</figure>
						<div class="product-info">
							<h6>{{product.name}}</h6>
							<p>₦{{product.price}}</p>
							<a href="{{product.get_absolute_url}}" class="site-btn btn-line">SHOP NOW</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
				
				
				
				
				
			</div>
		</div>
	</section>
	<!-- Product section end -->


	<!-- Blog section -->	
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="featured-item">
						<img src="http://localhost/external-css/img/featured/featured-3.jpg" alt="">
						<a href="#" class="site-btn">see more</a>
					</div>
				</div>
				<div class="col-lg-7">
					<h4 class="bgs-title">from the blog</h4>
					<div class="blog-item">
						<div class="bi-thumb">
							<img src="http://localhost/external-css/img/blog-thumb/1.jpg" alt="">
						</div>
						<div class="bi-content">
							<h5>10 tips to dress like a queen</h5>
							<div class="bi-meta">July 02, 2018   |   By maria deloreen</div>
							<a href="#" class="readmore">Read More</a>
						</div>
					</div>
					<div class="blog-item">
						<div class="bi-thumb">
							<img src="http://localhost/external-css/img/blog-thumb/2.jpg" alt="">
						</div>
						<div class="bi-content">
							<h5>Fashion Outlet products</h5>
							<div class="bi-meta">July 02, 2018   |   By Jessica Smith</div>
							<a href="#" class="readmore">Read More</a>
						</div>
					</div>
					<div class="blog-item">
						<div class="bi-thumb">
							<img src="http://localhost/external-css/img/blog-thumb/3.jpg" alt="">
						</div>
						<div class="bi-content">
							<h5>the little black dress just for you</h5>
							<div class="bi-meta">July 02, 2018   |   By maria deloreen</div>
							<a href="#" class="readmore">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->	



		
		
		{% endblock  %}

    </body>
</html>