{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% load currency %}
{% block title %}
  Checkout
{% endblock %}
{% block content %}

<br>
<br>
  <div class="container">
    <div class="row justify-content-center " style="margin-top:120px">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
        <div class="card bg-light"> 
          <div class="card-body">
  
            <h2 style="font-weight:bolder">Checkout</h2>
            <!--<div class="order-info">-->
              <div style="text-align:right">
              <h3>Your order</h3>
              <ul style="color:red; list-style:none;">
                {% for item in cart %}
                  <li>
                    {{ item.quantity }} x {{ item.product.name }} {{item.size_cloth}}
                    <span>{{ item.total_price|currency:request.session.currency }} {{ request.session.currency }} </span>
                    
                  </li>
                {% endfor %}
                <p>Shipping fee: ₦1200</p>
                 {% if cart.coupon %}
                <li>
                  "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                  <span class="neg">- {{ cart.get_discount|currency:request.session.currency }} {{ request.session.currency }} }}</span>
                </li>
              {% endif %}
              </ul>
              </div>
              <button class="btn btn-warning">Total: {{ cart.get_total_price_after_discount_shipping|currency:request.session.currency }} {{ request.session.currency }} </button>
              <br>
              <br>
            <!--</div>-->
      
    
            <form method="post">
              {{ form|crispy}}
              <p><input type="submit" class="btn btn-success" value="Place order"></p>
              {% csrf_token %}
            </form>

    </div>
        </div>
      </div>


      <div class="row">

        <div class="col-md-6">

          <h4>All orders are processed in NGN. WHILE THE CONTENT OF YOUR CART IS CUREENTLY <span class="text-success"> {{request.session.currency}},</span>  YOU WILL CHECKOUT USING NGN AT THE MOST CURRENT EXCHANGE RATE </h4>

        </div>

      </div>
  
    </div>
  </div>



  
    
  
{% endblock %}
