{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load currency %}
{% currency_context %}



								

	<!-- Page -->
	<div class="page-area product-page spad" style="margin-top:60px">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<figure>
						<img class="product-big-img" src= "{% if product.image%}{{product.image.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}" width="400px" height="500px"  alt="">
					</figure>
					<div class="product-thumbs">
						<div class="product-thumbs-track">
							
								
							 
							<div class="pt" data-imgbigurl="{% if product.image%}{{product.image.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}"><img src="{% if product.image%}{{product.image.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}" alt=""></div>
							<div class="pt" data-imgbigurl="{% if product.slider1%}{{product.slider1.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}"><img src="{% if product.slider1%}{{product.slider1.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}" alt=""></div>
							<div class="pt" data-imgbigurl="{% if product.slider2%}{{product.slider2.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}"><img src="{% if product.slider2%}{{product.slider2.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}" alt=""></div>
							<div class="pt" data-imgbigurl="{% if product.slider3%}{{product.slider3.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}"><img src="{% if product.slider3%}{{product.slider3.url}}{% else %} http://localhost/external-css/img/no_image.png {% endif %}" alt=""></div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="product-content">
						<h2>{{product.name}} </h2>
						<div class="pc-meta">
							<h4 class="price mb-2">{{ product.price|currency:request.session.currency }} {{ request.session.currency }}</h4>

							{% if messages %}
									{% for message in messages %}
										<div class="alert alert-{{ message.tags }}  alert-dismissible fade-show" role="alert">
										{{ message}}
										<button type="button" class="close" data-dismiss="alert">&times;</button>
									
									</div>
								{% endfor %}
							
							{% endif %}

							
							
									<form action="{% url "cart:cart_add" product.id %}" method="post">
									
									{{ cart_product_form|crispy }}<br>

								
			
									
									{% csrf_token %}
									

									<input type="submit" value="Add to cart" class="btn btn-warning mb-2">
									</form>



							

							<h4>Category</h4>
                            <p>
                                <a href="{{ product.category.get_absolute_url}}" class="text-warning">
                                    {{product.category}}
                                </a>
							</p>
							
						</div>
						
					
					
						
					</div>
				</div>
			</div>
			<div class="product-details">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Description</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Additional information</a>
							</li>
							<li class="nav-item">
								{% with comments.count as total_comments %}
								<a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Reviews({{ total_comments}})</a>
								{% endwith %}
							</li>
						</ul>
						<div class="tab-content">
							<!-- single tab content -->
							<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
								<p>{{product.description}} </p>
							</div>
							<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
							</div>
							<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
							  {% if messages %}
									{% for message in messages %}
										<div class="alert alert-{{ message.tags }}  alert-dismissible fade-show" role="alert">
										{{ message}}
										<button type="button" class="close" data-dismiss="alert">&times;</button>
									
									</div>
								{% endfor %}
							
							{% endif %}
							{% with comments.count as total_comments %}
								<h2>
									{{ total_comments }} Review{{ total_comments|pluralize }}
								</h2>
								{% endwith %}

							{% for comment in comments %}
							
							<div class="card">
								<div class="card-body shadow-lg p-3  bg-white rounded">
								<p class="text-danger">
								Review  by {{ comment.name }}
								{{ comment.created }}
								</p>
								<p class="text-danger"> {{ comment.body|linebreaks }} </p>
							</div>	
								
							</div>
							{% empty %}
							<p>There are no comments yet.</p>
							{% endfor %}

							{% if new_comment %}
							<h2>Your comment has been added.</h2>
							{% else %}
							<h2>Add a new comment</h2>
							{% endif %}
							{% if user.id is not None %}
							<form method="post">
								{{ comment_form|crispy }}

								{% csrf_token %}

								
								<p><input type="submit" class="btn btn-warning" value="Add Review"></p>
								{% else %}
								You need to be logged in before you can comment
								
							</form>
							{% endif %}
							



								
							</div>
						</div>
						
					</div>
				</div>
			</div>

		{% if recommended_products %}
			<div class="text-center rp-title">
				<h3>People who bought this also bought</h3>
			</div>
		
		<div class="row">
			{% for p in recommended_products %}
				<div class="col-lg-3">
					<div class="product-item">
						<figure>
							<a href="{{ p.get_absolute_url }}">
								<img src="{{ p.image.url }}">
							</a>
							<div class="pi-meta">
								<div class="pi-m-left">
									<img src="http://localhost/external-css/img/icons/eye.png" alt="">
									<p>quick view</p>
								</div>
								<div class="pi-m-right">
									<img src="http://localhost/external-css/img/icons/heart.png" alt="">
									<p>save</p>
								</div>
							</div>
						</figure>
						<div class="product-info">
							<h6><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h6>
							<p>{{ product.price|currency:request.session.currency }} {{ request.session.currency }} </p>
							<a href="{{ p.get_absolute_url }} " class="site-btn btn-line hvr-float-shadow">SHOP NOW</a>
						</div>
					</div>
				</div>
				{% endfor %}
		
			</div>
		
		{% endif %}
		</div>
	</div> 


	<!-- Page end -->
    {% endblock  %}
