{% extends 'shop/base.html' %}

{% block content %}

<div class="container" style="margin-top:120px; margin-bottom:60px;">
  <div class="row">

      <div class="col-md-6">
        <div class="card card-body bg-light">


            <h2>This transaction was successful</h2>
            <hr>
            <h2>Thank you</h2>
            <p>Your order has been successfully completed. Your order number is
            <strong>{{order}}</strong>.</p>
            <p><strong>Shipping to {{order.user.first_name}} {{order.user.last_name}},</strong> {{order.address}} </p>


         </div>
      </div>
  </div>

</div>

{% endblock content %}
